h1 {
  color: #a88e7a;
  font size: 200%;
}
h2 {
  color: #a88e7a;
}
h3 {
  color: #a88e7a;
}
p {
  font-family: spectral;
  color: #684536;
  text-indent: 20px;
  margin-left: 10px;
}


#content{
  background-color: #9dba94;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #644624;
  font-size: 20px;
