h1 {
  font-family: impact;
  color: #6d9384;
  font-size: 50px;
}

h2 {
  font-family: impact;
  color: #6d9384;
  font-size: 30px;
}

p {
  color: #80635D;
  font-family: fantasy;
  text-indent: 20px;
  margin-left: 10px;
}

img {
  width: 600px;
  float: right;
  margin-right: 225px;
  margin-top: 20px;
  border: solid 7px #6d9384;
}

div{
  font-family: fantasy;
  text-indent: 20px;
  margin-left: 10px;
}

#content{
  background-color: #c6d5cc;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #644624;
  font-size: 20px;
