h1 {
  font-family: trattatello;
  color: #013220;
  font-size: 50px;
}

h2 {
  font-family: trattatello;
  color: #b19cd9;
  font-size: 30px;
}

p {
  color: #654321;
  font-family: monospace;
  text-indent: 20px;
  margin-left: 10px;
}

img {
  width: 300px;
  float: right;
  margin-right: 90px;
  margin-top: 20px;
}

#content{
  background-color: #fdd7e4;
  width: 1220px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #644624;
  font-size: 20px;
